* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Roboto", Arial, Helvetica, sans-serif; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

:root {
  --grey-dark-1: #202225;
  --grey-dark-2: #292b2f;
  --grey-dark-3: #2f3136;
  --grey-dark-4: #36393f;
  --grey-dark-5: #2e3338;
  --grey-light-1: #40444b;
  --grey-light-2: #6f6e63;
  --grey-light-3: #8e9297;
  --grey-light-4: #b9bbbe;
  --grey-dark-1-border: #202225b4;
  --blue-highlight-1: #3f4581;
  --blue-highlight-2: #4d549c;
  --margin-normal: 1rem; }

.margin-bottom-normal {
  margin-bottom: var(--margin-normal); }

@keyframes displayOpacity {
  0% {
    opacity: 0;
    height: 0;
    display: flex; }
  100% {
    opacity: 1; } }

@keyframes hideOpacity {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    height: 0;
    margin: 0;
    display: none; } }

.server-icon {
  height: 5.5rem;
  width: 8rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-top: 1rem;
  position: relative;
  transition: all .2s; }
  .server-icon__icon {
    width: 5.5rem;
    height: 5.5rem;
    background-color: var(--grey-light-1);
    border-radius: 100%;
    cursor: pointer;
    transition: all .2s;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1; }
    .server-icon__icon:hover {
      border-radius: 2rem; }
  .server-icon__icon:hover ~ .server-icon__notification {
    height: 3rem;
    width: 1rem;
    opacity: 1; }
  .server-icon__image {
    height: 100%;
    border-radius: inherit; }
  .server-icon__notification {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 0rem;
    width: 0rem;
    opacity: 0;
    border-radius: 1rem;
    background-color: var(--grey-light-4);
    transition: all .15s; }
  .server-icon--unread .server-icon__notification {
    height: 1rem;
    width: 1rem;
    opacity: 1; }
  .server-icon--active .server-icon__notification {
    height: 4.5rem;
    width: 1rem;
    opacity: 1; }
  .server-icon--active .server-icon__icon:hover ~ .server-icon__notification {
    height: 4.5rem;
    width: 1rem;
    opacity: 1; }
  .server-icon--active .server-icon__icon {
    border-radius: 2rem; }
  .server-icon__folder-wrapper {
    margin-top: var(--margin-normal);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    .server-icon__folder-wrapper label {
      width: 100%;
      display: flex; }
    .server-icon__folder-wrapper::before {
      content: '';
      position: absolute;
      width: 5.5rem;
      height: 100%;
      top: 0;
      border-radius: 100rem;
      background-color: var(--grey-dark-3); }
  .server-icon__folder-wrapper .server-icon:first-child {
    margin-top: 0; }
  .server-icon__folder-wrapper > input:not(:checked) ~ .server-icon {
    animation: hideOpacity .2s linear;
    animation-fill-mode: both; }
  .server-icon__folder-wrapper > input:checked ~ .server-icon {
    animation: displayOpacity .2s linear; }
  .server-icon__folder-wrapper > input:checked ~ label .server-icon__notification {
    height: 0rem;
    opacity: 0; }
  .server-icon__folder-wrapper > input:checked ~ label .server-icon__icon:hover ~ .server-icon__notification {
    height: 0rem;
    opacity: 0; }
  .server-icon__folder-wrapper > input:checked ~ label .server-icon__icon {
    background-color: var(--grey-dark-3); }
    .server-icon__folder-wrapper > input:checked ~ label .server-icon__icon:hover {
      background-color: var(--grey-dark-4); }
  .server-icon__folder .server-icon__icon {
    border-radius: 2rem;
    overflow: hidden;
    position: relative;
    background-color: var(--blue-highlight-1); }
    .server-icon__folder .server-icon__icon:hover {
      background-color: var(--blue-highlight-2); }
  .server-icon__image-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-content: center;
    transition: transform .2s; }
  .server-icon__grid-element {
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 100%;
    margin: .15rem;
    background-color: #9999ff; }
    .server-icon__grid-element img {
      height: 100%;
      border-radius: inherit; }
  .server-icon__folder-wrapper > input:checked ~ label .server-icon__image-grid {
    transform: translateY(120%); }
  .server-icon__folder-wrapper > input:checked ~ label .server-icon__folder-icon {
    transform: translateY(0); }
  .server-icon__folder-icon {
    width: 3rem;
    height: 3rem;
    background-color: #3ba7ff;
    position: absolute;
    border-radius: 1rem;
    transform: translateY(-4.5rem);
    transition: transform .2s; }

.main-container {
  height: 100vh;
  display: grid;
  justify-content: stretch;
  align-items: stretch;
  grid-template-rows: 6rem 1fr 6rem;
  grid-template-columns: auto 30rem 1fr 30rem; }

.server-list {
  background-color: var(--grey-dark-1);
  grid-row: 1 / -1;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .server-list hr {
    border: 1px solid var(--grey-dark-5);
    border-radius: 100rem;
    width: 50%; }

.server__header {
  background-color: var(--grey-dark-3);
  border-bottom: 1px solid var(--grey-dark-1-border); }

.server__channel-list {
  background-color: var(--grey-dark-3); }

.server__text-chat {
  background-color: var(--grey-dark-4);
  grid-row: 2 / -1;
  grid-column: 3 / 4; }

.server__member-list {
  background-color: var(--grey-dark-3);
  grid-row: 2 / -1;
  grid-column: 4 / 5; }

.navbar {
  background-color: var(--grey-dark-4);
  border-bottom: 1px solid var(--grey-dark-1-border);
  grid-column: 3 / -1;
  display: flex;
  align-items: center; }
  .navbar__hash {
    color: var(--grey-light-3);
    font-weight: 700;
    font-size: 2.5rem;
    margin-right: .6rem;
    margin-left: 1.5rem; }
  .navbar__current-channel {
    font-weight: 500;
    font-size: 1.65rem;
    margin-right: auto;
    color: #fff; }
  .navbar__icon {
    width: 3rem;
    height: 3rem;
    background-color: var(--grey-light-1);
    margin-right: 2rem;
    border-radius: 1rem; }
  .navbar__search {
    display: flex;
    justify-content: space-between;
    margin-right: 2rem;
    font-size: 1.4rem;
    background-color: var(--grey-dark-1);
    padding: 0.5rem;
    border-radius: .5rem;
    width: auto;
    color: var(--grey-light-4); }
  .navbar__search-input {
    font-size: 1.4rem;
    background-color: var(--grey-dark-1);
    border: none;
    outline: none;
    width: 7.5rem;
    color: var(--grey-light-4);
    transition: all .3s; }
  .navbar__search-input:focus {
    width: 15rem; }
  .navbar__search span {
    padding: 0 .5rem; }

.user-settings {
  background-color: var(--grey-dark-2); }

@keyframes displayOpacity {
  0% {
    opacity: 0;
    height: 0;
    display: flex; }
  100% {
    opacity: 1; } }

@keyframes hideOpacity {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    height: 0;
    margin: 0;
    display: none; } }
