* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}

:root {
    --grey-dark-1: #202225;
    --grey-dark-2: #292b2f;
    --grey-dark-3: #2f3136;
    --grey-dark-4: #36393f;
    --grey-dark-5: #2e3338;
    --grey-light-1: #40444b;
    --grey-light-2: #6f6e63;
    --grey-light-3: #8e9297;
    --grey-light-4: #b9bbbe;


    --grey-dark-1-border: #202225b4;
}



