.main-container {
    height: 100vh;
    display: grid;

    justify-content: stretch;
    align-items: stretch;

    grid-template-rows: 6rem 1fr 6rem;
    grid-template-columns: auto 30rem 1fr 30rem;

}

.server-list {
    background-color: var(--grey-dark-1);
    grid-row: 1 / -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    & hr {
        border: 1px solid var(--grey-dark-5);
        border-radius: 100rem;
        width: 50%;
    }
}

.server {


    &__header {
        background-color: var(--grey-dark-3);
        border-bottom: 1px solid var(--grey-dark-1-border);
    }

    &__channel-list {
        background-color: var(--grey-dark-3);
        
    }

    &__text-chat {
        background-color: var(--grey-dark-4);
        grid-row: 2 / -1;
        grid-column: 3 / 4;
    }

    &__member-list {
        background-color: var(--grey-dark-3);
        grid-row: 2 / -1;
        grid-column: 4 / 5;
    }
}

.navbar {
    background-color: var(--grey-dark-4);
    border-bottom: 1px solid var(--grey-dark-1-border);
    grid-column: 3 / -1;
    display: flex;
    align-items: center;

    &__hash {
        color: var(--grey-light-3);
        font-weight: 700;
        font-size: 2.5rem;
        margin-right: .6rem;
        margin-left: 1.5rem;
    }

    &__current-channel {
        font-weight: 500;
        font-size: 1.65rem;
        margin-right: auto;
        color: #fff;
    }

    &__icon {
        width: 3rem;
        height: 3rem;
        background-color: var(--grey-light-1);
        margin-right: 2rem;
        border-radius: 1rem;
    }

    &__search {
        display: flex;
        justify-content: space-between;
        margin-right: 2rem;
        font-size: 1.4rem;
        background-color: var(--grey-dark-1);
        padding: 0.5rem;
        border-radius: .5rem;
        width: auto;
        color: var(--grey-light-4);
    }

    &__search-input {
        font-size: 1.4rem;
        background-color: var(--grey-dark-1);
        border: none;
        outline: none;
        width: 7.5rem;
        color: var(--grey-light-4);
        transition: all .3s;
    }

    &__search-input:focus {
        width: 15rem;
    }

    &__search span {
        padding: 0 .5rem;
    }

}

.user-settings {
    background-color: var(--grey-dark-2);
}